@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    color: white;
    overflow: hidden;
    background-color: black;
}
.bg-img{
    position:fixed;
    background: url("space.jpg") no-repeat fixed center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-size: cover;
    animation:scaling 60s linear infinite;
}
@keyframes scaling{
    0%{
        transform: scale(1);
    }
    50%{
        transform:scale(2);
    }
    100%{
        transform:scale(3);
    }
}
.bg-image::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);

}
a{
    text-decoration: none;
    color:white;
}
ol{
    list-style-type: none;
    display: flex;
}
.container{
    position:relative;
    max-width:1200px;
    margin:0 auto;
    height: 100vh;
}
.mars{
    position: absolute;
    animation:movement 60s linear infinite;
}
@keyframes movement{
    0%{
        width: 20rem;
        top:10%;
        right:30%;
        transform: rotate(0deg);
    }
    50%{
        width:50rem;
        top:20%;
        right:-10%;
        transform:rotate(360deg);
    }
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 50px 0;
}
header a{
    font-weight:700;
    font-size: 24px;
    text-transform:uppercase;
    letter-spacing: 3px;
}
header ol li{
    font-weight: 600;
    padding: 0 20px;
    opacity: 0.6;
}
header ol li:first-child{
    opacity:1;
}
h1{
    padding-top:15%;
}
min>p{
    max-width:50%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.d-flex a{
    margin-right:50px;
    align-items:center;
    font-size:14px;
    align-items: center;
}
.d-flex a span{
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:12px;
    margin-right: 5px;
}
.d-flex a:first-child span{
    background: maroon;
    width:30px;
    height:30px;
    border-radius:50%;
}
.d-flex a:last-child span{
    font: size 7px;
    width:30px;
    height:30px;
    border:2px solid white;
    border-radius:50%
}
ol.info{
    padding-top:5%;
}
ol.info li{
    flex:0 0 30%;
}
ol.info li h5{
    margin-bottom:10px;
}
ol.info li h4{
    margin-bottom:10px;
}
ol.info li p{
    padding-right: 20%;
    opacity: 0.75;
}